# Cython==0.25.2 must be installed before this requirements process is run!
#
# on linux, also install (via the package manager):
#  graphviz
#  libgraphviz-dev
#
Kivy>=1.10.0
Kivy-Garden>=0.1.4
matplotlib>=2.2.2
graphviz>=0.8.2
pygraphviz>=1.3.1
pygame>=1.9.3
# Mongo integration
pymongo>=3.4.0
# Zabbix support
zabbix-client>=0.1.1
